@model KnowMyneighbour.Models.MoreUserDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MoreUserDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HomeStreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeStreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeCityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeCityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeLivingStateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeLivingStateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkStreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkStreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkCityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkCityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkStateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkStateName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
